name: calculate-iac-costs
on:
    push:
        branches:
            - master

jobs:
    calculate-cost:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - run: |
                curl -fsSL https://raw.githubusercontent.com/infracost/infracost/master/scripts/install.sh | sh
                infracost --version

            - name: Authenticate to Infracost
              run: infracost configure set api_key ${{ secrets.INFRACOST_API_TOKEN }}

            - name: Calculate costs
              run: infracost breakdown --path=infra
