name: sync-raw-dataset
on:
    push:
        branches:
            - master

permissions:
    id-token: write
    contents: read

jobs:
    login-to-azure-and-run-azcopy:
        runs-on: ubuntu-latest
        environment: prod-deploy
        defaults:
            run:
                working-directory: raw
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Authenticate to Azure
              uses: azure/login@v2
              with:
                client-id: ${{ secrets.AZURE_CLIENT_ID }}
                tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

            - name: Check working directory
              run: ls -l
